@import 'node_modules/jeet/jeet';

html {
  font-family: $fontFamily;
  font-size: $fontSize;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.container {
  @include center();
}

.loop-error {
  font-family: $fontFamily;

  &__message {
    font-size: $fontSize;
  }
}
